*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
*.iws
*.ipr
.gradle/
local.properties
*/build/
build/
*~
*.swp
workspace.xml
tasks.xml
.idea
*.iml
/captures
.externalNativeBuild
/app/release
/app/release/app-release
*.aab
/wimple/app/release/app-release/
wimple/.settings/org.eclipse.buildship.core.prefs
