*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
*.iws
*.ipr
.gradle/
local.properties
*/build/
build/
*~
*.swp
workspace.xml
tasks.xml
.idea
*.iml
/captures
.externalNativeBuild
/app/release
