<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.blog.imhallower.wimple"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.blog.imhallower.wimple.WimpleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.blog.imhallower.wimple.WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name="me.blog.imhallower.wimple.TransactionInsertFragment"
            android:label="@string/title_transaction_insert_fragment" >
        </activity>
        <activity
            android:name="me.blog.imhallower.wimple.TransactionListFragment"
            android:label="@string/title_transaction_list_fragment" >
        </activity>
        <activity
            android:name="me.blog.imhallower.wimple.SettingsFragment"
            android:label="@string/title_settings_fragment" >
        </activity>
    </application>

</manifest>
